.containerText{
  width: 95%;
  color: rgba(0, 0, 0, 1);
  margin-top: 25px;
}

.title{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}
.subText{
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: rgba(77, 82, 84, 1);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .title{
    font-size: 32px;
    line-height: 44.8px;
  }
  .subText{
    font-size: 16px;
    line-height: 22.4px;
    color: rgba(77, 82, 84, 1);
  }
}