.containerRow{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.imgCheck{
  width: 22px;
  height: 22px;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.infoPaymentImg{
  height: 33px;
  color: rgba(207, 207, 207, 1);
}
.link{
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.59px;
}

@media screen and (max-width: 768px) {
  .containerRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  .imgCheck{
    width: 16px;
    height: 16px;
  }
  .buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }
  .containerPaymentImg{
    width: 100%;
    max-width: 100%;
  }
  .imgInfo{
    width: 100%;
    height: 100%;
  }
  .link{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.39px;
  }
  
}