.container{
  width: 100%;
  max-width: 1500px;
  height: 50px;
  max-height: 50px;
  background-color: rgba(37, 47, 61, 1);
  top: 50px;
}

.tabLabel{
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .tab{
    width: 100%;
  }
  .tabLabel{
    display: flex;
    min-width: 100%;
    justify-content: center;
  }
}